// Device viewport data

// iOS 7
// todo: complete this
$viewport-iphone4-min-height: 416px;
$viewport-iphone5-min-height: 504px;
$viewport-ipad-min-height: 931px;
$viewport-desktop-min-height: 800px;

$viewport-iphone4-height-total: 480px;
$viewport-iphone4-height-status-bar: 40px;
$viewport-iphone4-height-navbar: 88px;

$viewport-iphone5-width: 320px;
$viewport-iphone5-height-total: 568px;
$viewport-iphone5-height-status-bar: 40px;
$viewport-iphone5-height-navbar: 88px;
$viewport-iphone5-height-tab-bar: 98px;

$viewport-ipad-retina-height-status-bar: 40px;
$viewport-ipad-retina-height-navbar: 88px;
$viewport-ipad-retina-tab-bar: 112px;

$viewport-ipad-mini-height-status-bar: 20px;
$viewport-ipad-mini-height-navbar: 44px;
$viewport-ipad-mini-height-tab-bar: 56px;

$viewport-ipad-height-status-bar: 20px;
$viewport-ipad-height-navbar: 44px;
$viewport-ipad-height-tab-bar: 56px;

// text sizing
$text-size-navbar-title: 34px;
$text-size-button: 34px;
$text-size-table-header: 34px;
$text-size-table-label: 28px;
$text-size-tab-bar-icon-label: 20px;

// tables
$table-item-height: 88px;
$table-padding-left: 30px;
$table-padding-right: 30px;

// navigation bar
$navbar-padding: 16px;